<div class="document col-xs-6 col-md-3">
  <div class="blgal-thumbnail">
    <%= render_thumbnail_tag(document, {}, :counter => document_counter_with_offset(document_counter)) %>
    <div class="blgal-caption">
      <%= render_document_partials document, blacklight_config.view_config(:gallery).partials, :document_counter => document_counter %>
    </div>
  </div>
</div>
